bin/** filter=lfs diff=lfs merge=lfs -text
licenses/** filter=lfs diff=lfs merge=lfs -text
/system/bin/** filter=lfs diff=lfs merge=lfs -text
/user/browscap/** filter=lfs diff=lfs merge=lfs -text
/user/geo/** filter=lfs diff=lfs merge=lfs -text
